body, html {
  margin: 0;
  height: 100%;
  min-width: 540px;
}

#nonScroll {
  overflow-y: hidden;
  min-width: 480px;
}

.entrance {
  height: 100%;
  width: 75%;
}

nav#myNav {
  display: none;
  position: fixed;
  top: 20px;
}

#mainPic {
  border-radius: 50%;
  width: 60%;
  height: 60%;
  -webkit-animation-duration: 1s;
}

#welcomeText {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}

.Welcomespacing h4 {
  line-height: 150%
}

#welcomeTextSecond {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}

.text {
  background-color: red;
}

#entryButton {
  color: black;
  text-decoration: none;
}

#entryButton:hover {
  color: grey;
}

#totalEntry {
  height: 80vh;
  width: 100vw;
}

#placeHolder {
  height: 25vh;
  width: 100vw;
}

.page {
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.progress {
  margin: 0 auto 2rem auto;
  padding: 0;
  width: 90%;
  height: 30px;
  overflow: hidden;
  background: #e5e5e5;
  border-radius: 6px;
}
.meter {
  position: relative;
  float: left;
  min-width: 1%;
  height: 100%;
}
.meter.green {
  background: #2ecc71;
}
.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: tahoma,arial,helvetica;
  font-size: 12px;
  color: white;
}
